.posicion {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
.fondo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: #595959;
  z-index: 1;
}
body {
  margin: 0;
}
header {
  height: 319px;
  width: 921px;
  z-index: 10;
  margin: 0 auto;
  background-image: url("../img/portada.png");
  background-repeat: no-repeat;
}
nav {
  height: 89px;
  width: 921px;
  z-index: 15;
  margin: auto;
  margin-top: -89px;
  background-color: rgba(0, 0, 0, 0.86);
}
