@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
/*******Mixins********/
.fuente400{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.secciones{
    width: 700px;
    color: #c6c6c6;
    text-align: justify;
    position: relative;
    top:0;
    left:-200px;
    z-index: 50;
}
.posicion{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}
/*******Código CSS********/

.fondo{
    .posicion;
    background-image:url("../img/fondo.png");
    background-repeat: repeat;
    z-index: 1;

}
body{
    margin: 0;
    .fuente400;
    overflow-y: scroll;
}
header{
    height: 80px;
    width: 1000px;
    z-index: 10;
    margin: 0 auto;
}
h1{
  text-align: center;
  color: white;
}
.logo{
    display: inline-block;
    width: 300px;
    float: left;
}

ul{
    display: inline-block;
}
.logo a{
    display: inline-block;
    width: 300px;
    height: 176px;
    text-decoration: none;
    z-index: 20;
}
nav {
    height: 190px;
    width: 1100px;
    z-index: 15;
    margin: auto;
    margin-top: 60px;
    border-bottom: solid white 5px;
    a {
        text-decoration: none;
        color: white;
    }
    ul li{
        display: inline-block;
        width: 150px;
        height: 50px;
        border: solid white 2px;
        margin: 0;
        text-align: center;
    }
}
section{
    margin: 0 auto;
    width: 1100px;
}
#carteles{
    z-index: 50;
    figure{
        width: 200px;
        height: 100px;
    }
 }
.home{
    .secciones;
    img{
      width: 440px;
      height: 330px;
      float: right;
    }
}
.premios{
    .secciones;
}
